/* import google fonts */


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Montserrat:wght@400;500&family=Raleway:wght@400;600&family=Roboto&family=Roboto+Mono:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
  font-family: 'Roboto Mono', monospace;
}


.section-heading{
  margin: 3rem;
  text-align: center;
}
.section-bottom-border{
  padding-bottom: 6rem;
  width: 70%;
  border-bottom: solid 2px #e4e6e8;
  margin: 0 auto;

}

.add-container-margin{
  padding: 0 5%;
}

/* ********************************************************************************* */

.header-top{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/home_slider.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* navbar css code strat */
header{
  background-color: #5757ff;
}

.header-content-height{
height:100vh;
}

.navbar ul li a{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFFFFF;
    white-space: nowrap;
} 
.navbar-brand{
    color:yellow;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
.navbar-brand span{
color:#4cff02;
}

.navbar-brand:hover{
color:white
}
.user-name{
  color:yellow!important;
}
.user-name span{
  color:#4cff02;
}

.bgColr{
  background-color: #5757ff;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .sticky-bg{
    background-color: #5757ff;
    /* transition: 1s; */
  }

  .navbar-toggler-icon i{
      color: white;
      font-size: 2rem;
  }

  .nav-item{
    padding-right: 10px;
  }
  /* navbar css code end */

  /* header contain start */

  .text-contain{
      text-align: center;
    margin-top: 10%;
    color: white;
  }

  .text-contain h1{
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 400;
    color: #FFFFFF;
  }
  .text-contain p{
    font-size: 1.1rem;
    padding: 20px;
}
  /* header contain end */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}



/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* media qyary fro .modal-content */
@media screen and (max-width: 768px) {
  .modal-content{
    width: 80%;
}}



  /* agenda section start */

  .agenda{
    padding: 5rem;
  }

.intro_image{
    height: 80px;
}


.intro_content
{
	padding-left: 28px;
}
.intro_title
{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #181818;
	font-weight: 400;
}

  /* agenda section end */



/* service section start */
.service-icon {
  font-size: 5rem;
  text-align: center;
}

/* **************************************
  Royal_Facilities section Start 
******************************************* */

#Royal_Facilities{
  background-color: rgb(0, 0, 41);
  text-align: center;
  color: wheat;
}

.bg-color-royal{
  background-color: rgb(0 0 0 / 23%);
  border-radius: 15px;
}

.bg-color-royal h2 i{
  color: yellow;
  font-size: 1.5rem;
}

/* **************************************
  Royal_Facilities section end 
******************************************* */

/*********************************
About Section
*********************************/
.title_color{
    
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
}


/*********************************
Testimonials
*********************************/

.testimonials
{
	width: 100%;
  padding-bottom: 50px;
  background-image: url(image/testimonials.jpg);
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  text-align: center;
  color: #FFFFFF;
}


/* login */

.login{
  min-height: 620px;
}

.testimonials h2{
  padding: 40px 0;
}

.test-item{
  padding: 0 110px;
}


/* footer */

footer{
  background-color: rgb(0, 0, 41);
  color: white;
}