{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="jumbotron text-center">
  <h1 class="display-4">Hotel Details Page!</h1>
</div>


<div class="details_page_contain p-5">

  <div class="container-fluid w-90 mx-auto">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <img src="{{hotel_view_obj.hotel_image.url}}" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-md-8 col-sm-12">
        <table class="table">
          <tbody>
            <tr>
              <td class="w-25">
                <h5>Name</h5>
              </td>
              <td class="w-75">{{hotel_view_obj.hotel_name}}</td>
            </tr>
            <tr>
              <td class="w-25">
                <h5>Location</h5>
              </td>
              <td class="w-75">{{hotel_view_obj.hotel_location}}</td>
            </tr>
            <!-- <tr>
              <td class="w-25">
                <h5>description</h5>
              </td>
              <td class="w-75">{{hotel_view_obj.hotel_sort_description}}</td>
            </tr> -->
            <tr>
              <td class="w-25">
                <h5>Description</h5>
              </td>
              <td class="w-75">{{hotel_view_obj.hotel_description}}</td>
            </tr>
            <tr>
              <td class="w-25">
                <h5>Facility</h5>
              </td>
              <td class="w-75">{{hotel_view_obj.hotel_facility}}</td>
            </tr>
            <tr>
              <td class="w-25">
                <h5>Room Price</h5>
              </td>
              <td class="w-75">{{hotel_view_obj.hotel_room_price}}</td>
            </tr>
            <tr>
              <td class="w-25">
                <h5>Star</h5>
              </td>
              <td class="w-75">{{hotel_view_obj.hotel_star}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>


<!-- <h1>Name : {{hotel_view_hotel_view_obj.hotel_name}}</h1> -->

{% endblock body %}