{% extends 'base.html' %}
{% load static %}



{% block body %}

<section class="header-top">
    <div class="container d-flex align-items-center header-content-height">

        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-8">
                <div class="text-contain ">

                    <h1>Welcome to Travelite Tours!</h1>
                    <p>This is a Travel website that is dedicated to travel. The site may be focused on Tour Booking,
                        Hotel Booking or a combination of both.</p>
                    <div class="row">
                        <div class="col-md-6 text-right"><a href="hotel" class="btn btn-primary">Book Hotel</a></div>
                        <div class="col-md-6 text-left"><a href="destination" class="btn btn-primary">Book Tour</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
    </div>
    <!-- header contain text end -->
</section>
<!-- header section end -->

<!-- Agenda  section start -->
<section class="agenda">
    <div class="container">
        <div class="row">
            <div class="col-md-3 "></div>
            <div class="col-md-6 ">
                <div class="section-heading">
                    <h2>Agenda</h2>
                </div>
            </div>
            <div class="col-md-3 "></div>
        </div>

        <div class="row">
            <!-- intro item -->
            <div class="col-lg-4 col-md-4 col-sm-12 intro_col mx-auto">
                <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                    <div class="intro_icon"><img class="intro_image" src="{% static 'image/beach.svg' %}" alt=""></div>
                    <div class="intro_content">
                        <div class="intro_title">Attractions</div>
                        <div class="intro_subtitle">
                            <p>Book all of your attractions with us; contact Travelite Tours for latest special offers
                                and discounts.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- intro item -->
            <div class="col-lg-4 col-md-4 col-sm-12 intro_col mx-auto">
                <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                    <div class="intro_icon"><img class="intro_image" src="{% static 'image/beach.svg' %}" alt=""></div>
                    <div class="intro_content">
                        <div class="intro_title">Book Hotel</div>
                        <div class="intro_subtitle">
                            <p>Exclusive Deals, Central Locations! Save with Our Price Guarantee. By Your Side from Book
                                to Stay</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- intro item -->
            <div class="col-lg-4 col-md-4 col-sm-12 intro_col mx-auto">
                <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                    <div class="intro_icon"><img class="intro_image" src="{% static 'image/beach.svg' %}" alt=""></div>
                    <div class="intro_content">
                        <div class="intro_title">Group Tours</div>
                        <div class="intro_subtitle">
                            <p>We offer group tours that are designed to suit the interests of you and your clients’
                                requirements and budget. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="section-bottom-border"></div>
</section>
<!-- Agenda  section end -->

<!-- Royal Facilities section -->

<section id="Royal_Facilities">

    <div class="container p-5">
        <!-- fro text -->
        <div class="row pb-4">
            <div class="col-md-3 col-sm-0"></div>
            <div class="col-md-6 col-sm-12">
                <div class="Facilities_text p-3">
                    <h2>Royal Facilities</h2>
                    <p>Compare hotel prices from hundreds of travel sites and get great deals. results, simply filter by
                        price, distance (e.g. from the beach), star category, facilities and more. </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-0"></div>
        </div>

        <!-- for list -->
        <div class="row">
            <div class="col-md-4 col-sm-12 text-justify pb-4">
                <div class="cont_text p-3 border border-white bg-color-royal">
                    <h2><i class="fas fa-hotel pr-3"></i> Low cost</h2>
                    <p>Tourist motivations are the factors to make people wishing to go travel. for travel experiences
                        which is included costs of time and money.We give low cost travel and hotel booking facilities.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 text-justify pb-4">
                <div class="cont_text p-3 border border-white bg-color-royal">
                    <h2><i class="fas fa-hotel pr-3"></i>Restaurant</h2>
                    <p>That's exactly what an effective travel website should make you feel. An official tourism site
                        for a city will have different goals from those of a travel goals from those of a travel .</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 text-justify pb-4">
                <div class="cont_text p-3 border border-white bg-color-royal">
                    <h2><i class="fas fa-hotel pr-3"></i>Tour meal</h2>
                    <p>Tourists' experience by visiting a destination, eating at a restaurant, or performing an
                        activity.We provide best meal service.</p>
                </div>
            </div>


            <div class="col-md-4 col-sm-12 text-justify pb-4">
                <div class="cont_text p-3 border border-white bg-color-royal">
                    <h2><i class="fas fa-hotel pr-3"></i>Sightseeing</h2>
                    <p>There are many perfect tourist place for sightseeing ,We can offer great rates.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 text-justify pb-4">
                <div class="cont_text p-3 border border-white bg-color-royal">
                    <h2><i class="fas fa-hotel pr-3"></i>Tour Guide</h2>
                    <p>We, Travelite tours and Explore BD is one of the efficient and fast-growing local tour operators
                        in guidance.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 text-justify pb-4">
                <div class="cont_text p-3 border border-white bg-color-royal">
                    <h2><i class="fas fa-hotel pr-3"></i>Medical facilities</h2>
                    <p>Medical tourism refers to people traveling to obtain medical treatment. We usually referred to
                        those facilities.</p>
                </div>
            </div>



        </div>

</section>

<!-- about section -->


<section id="about-section" class="p-5">
    <div class="container p-5">
        <div class="about">
            <div class="row">
                <div class="col-md-6 col-sm-12 p-5">
                    <h2 class="title title_color">About Us <br>Our History<br>Mission &amp; Vision</h2>
                    <p class="text-justify pt-3">“To serve our clients with enhanced travel experience by providing
                        quality Services that address their Travel needs, through the most efficient arrangements so
                        that customer loyalty, superior financial results and excellent customer satisfaction can be
                        achieved”.</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="{% static 'image/about_bg.jpg' %}" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>

</section>


<!--Destinations section start-->

<section id="destination">
    <div class="container">
        <div class="row">
            <div class="col-md-2 "></div>
            <div class="col-md-8 ">
                <div class="section-heading">
                    <h2>Destinations</h2>
                    <p>Social, cultural, personal and psychological factors, the number of tour- ists' attractions,
                        available amenities, price, human resources and various types of tourism destinations are
                        examples of the elements which can be considered in decision-making.</p>
                </div>
            </div>
            <div class="col-md-2 "></div>
        </div>

        <div class="row">
            {% for x in destinations_obj %}
            <div class="col-xl-4 col-md-6 col-sm-12 pb-4">
                <div class="card">
                    <img class="card-img-top" src="{{x.tour_image.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{x.tourist_place_name}}</h5>
                        <p class="card-text">{{x.tour_sort_description}}</p>
                        <h5 class="card-text">{{x.tour_price}} Taka</h5>
                    </div>

                    <div class="card-footer">
                        <a href="{% url 'details' x.id %}" target="_blank" class="btn btn-primary float-right">More</a>
                        <button target="_blank" class="btn btn-primary float-left book-now-btn">Book
                            Now</button>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    <div class="section-bottom-border"></div>
</section>


<!--Destinations section end-->


<!-- service section start -->
<section id="service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 "></div>
            <div class="col-md-6 ">
                <div class="section-heading">
                    <h2>Service</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis doloribus reiciendis</p>
                </div>
            </div>
            <div class="col-md-3 "></div>
        </div>
        <div class="service-item">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="service-icon">
                            <i class="fas fa-plane-departure"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Hotel Booking</h5>
                            <p class="card-text">By booking on the hotel's website, you have the opportunity to make
                                special room requests when you book or once you arrive. . Hotels are getting more
                                selective with their Wi-Fi service. Some will only grant free Wi-Fi to guests who booked
                                direct, while OTA bookers will have to pay a fee.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="service-icon">
                            <i class="fas fa-plane-departure"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Tour Booking</h5>
                            <p class="card-text">That's exactly what an effective travel website should make you feel
                                places; Hotel recommendations with web links to hotel and booking sites . in the city,
                                then purchase any necessary tickets, passes, or equipment rentals.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="service-icon">
                            <i class="fas fa-plane-departure"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Tour Guide</h5>
                            <p class="card-text">We are experts on the history of the location and offer our tour groups
                                interesting or enlightening information about points of interest at nature attractions,
                                historic sites, museums, scenic locations, and other travel destinations. Guides may
                                give walking tours, bus tours, or even lead river tours on a boat.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section-bottom-border"></div>
</section>
<!-- service sevtion end -->

<!-- Testimonials -->
<section class="testimonials container-fulid" id="testimonials">
    <div class="container">
        <h2>Testimonials</h2>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="test-item">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda repellendus,
                            voluptas
                            officia est quos obcaecati quidem modi autem suscipit nesciunt, nobis nihil? Incidunt
                            voluptas harum in saepe quibusdam odit quod</h4>
                        <blockquote>Siam</blockquote>
                        <img src="image/icons8-hotel-80.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="test-item">
                        <h4>I had booked my travel package from your Website and I really got a very good and positive
                            response from Ms. Riddhi Kothari. I am glad she has cooperated in all .</h4>
                        <blockquote>Tamanna</blockquote>
                        <img src="image/icons8-hotel-80.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="test-item">
                        <h4>Hope you had a great Christmas and wonderful New Years. We had a great time on our vacation.
                            We would definitely Contact with you in our next Tour.</h4>
                        <blockquote>Siam</blockquote>
                        <img src="image/icons8-hotel-80.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock body %}